.welcome-message {
	font-size: 2em;
	font-weight: bold;
	/*color: whitesmoke;*/
}

.switch-player-button {
	font-size: 0.9em;
}

.board-name {
	font-size: 1.2em;
	font-weight: bold;
}

.solved-board-name {
	color: forestgreen;
	font-weight: bold;
}
